.login__div {
  align-items: center;
  color: black;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.login__div__form {
  align-items: center;
  background-color: black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 400px;
  justify-content: center;
  padding: 1rem;
  width: 450px;
}

.login__div__form img {
  width: auto;
}

.login__div__form label {
  display: flex;
  gap: 10px;
}

.login__form__name__input::placeholder {
  color: rgb(150, 150, 150);
}

.login__form__name__input {
  background-color: rgb(55, 55, 55);
  border: 0;
  border-radius: 6px;
  color: rgb(150, 150, 150);
  font-size: 16px;
  outline: 0;
  padding: 5px;
  text-align: center;
  width: 320px;
}

.login__form__name__input:focus::placeholder {
  color: transparent;
}

.login__form__button {
  background-color: #ececec;
  border: 0;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1rem;
  outline: 0;
  padding: 0.7rem;
  transition-duration: 0.4s;
  width: 50vh;
}

.login__form__button:hover {
  background-color: rebeccapurple;
}

.login__form__button:disabled {
  background-color: grey;
  cursor: auto;
}
