.search--main {
  background-color: black;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.search--component__inputDiv {
  align-items: center;
  background-color: white;
  display: flex;
  height: 80px;
  justify-content: center;
  left: 500px;
  position: absolute;
  width: 500px;
}

.search--component__nameInput {
  border: 1px solid black;
  border-radius: 100px;
  height: 40px;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 250px;
}

.search--component__nameInput::placeholder {
  text-align: center;
}

.search--component__nameInput:focus::placeholder {
  color: transparent;
}

.search--component__nameInput:focus {
  text-align: center;
}

.search--component__searchButton {
  left: 133px;
  position: absolute;
  top: 31px;
}
